body {
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

footer {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #353535;
  color: white;
  padding: 5%;
}

footer svg {
  margin-bottom: 5%;
}

footer path {
  fill: white;
}

footer p {
  width: 80%;
}

footer i {
  margin-right: 2%;
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: white;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 1px 2px grey;
          box-shadow: inset 0 1px 2px grey;
  border: none;
}

.localisation i {
  margin: auto;
  margin-right: 2%;
  margin-left: 0;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  padding: 5%;
}

.intro p {
  margin: 0;
  font-size: 1.3rem;
}

h1 {
  margin: 10% 12% 5% 12%;
  font-size: 1.7em;
}

button {
  margin: 5%;
  padding: 2%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1rem;
  border-radius: 20px;
  border: none;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5%;
}

.fonctionnement article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2%;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 2px grey;
          box-shadow: 2px grey;
}

.fonctionnement .number {
  position: absolute;
  left: 5px;
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3%;
  padding: 5px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}

.fonctionnement .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.fonctionnement i {
  margin: 5%;
  color: grey;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 5%;
}

.restaurants .resto {
  width: 100%;
  height: 248px;
  border: 2px black;
  border-radius: 20px;
  margin: 10% 0 10% 0;
  background-color: white;
  -webkit-box-shadow: grey 2px;
          box-shadow: grey 2px;
}

.restaurants img {
  width: 100%;
  height: 70%;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.restaurants .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

.restaurants i {
  font-size: 1.5rem;
  margin-right: 20px;
}
/*# sourceMappingURL=style.css.map */