.fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 5%;
    & article {
        transition: all 0.2s ease-in;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2%;
        background-color: $light-grey;
        border-radius: 20px;
        box-shadow: 2px grey;
        & i {
            margin: 7%;
            color: grey;
        }
        &:hover {
            background-color: $light-purple;
            i {
                color: $primary-color;
            }
        }
    }
    & .number {
        position: absolute;
        left: 5px;
        width: 10px;
        height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3%;
        padding: 5px;
        border-radius: 50%;
        background-color: $primary-color;
        color: white;
    }
    & .text {
        display: flex;
        flex-direction: row;
        align-items:center;
        width: 100%;
    }
    /*& i {
        margin: 7%;
        color: grey;
    }*/

}