footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $footer-color;
    color: white;
    box-shadow: 2px;
    & img {
        fill: white;
    }

    & a {
    text-decoration: none;
    color: white;
    }
}


