.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    padding: 2%;
    
    & p {
        margin: 0;
        font-size: 1.5rem;
    }
}
h1 {
    font-size: 1.7em;
}