.restaurants {
    background-color: $light-grey;
    padding: 5%;
    & .resto {
        width: 100%;
        height: 248px;
        border: 2px black;
        border-radius: 20px;
        margin: 10% 0 10% 0;
        background-color: white;
        box-shadow: grey 2px;
    }
    & img {
        width: 100%;
        height: 70%;
        margin: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    & .text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
    }
    & i {
        
        font-size: 1.5rem;
        margin-right: 20px;
    }
}